@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root {
    --text: 307 43% 4%;
    --background: 300 47% 97%;
    --primary: 300 100% 31%;
    --secondary: 261 100% 47%;
    --accent: 261 67% 50%;
  }

  .dark {
    --text: 307 43% 96%;
    --background: 300 47% 3%;
    --primary: 300 100% 69%;
    --secondary: 261 100% 53%;
    --accent: 261 67% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
